<<<<<<< HEAD
body{
   background-color: aliceblue; 
   padding-top:20px;
}
.main-container{
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color:white;
    width:409px;
    margin:auto;
    padding-top:20px;
    
 }
.input-text{
    display:flex;
}
.dropwon-selecter{
    display:flex;
}
.time-add{
    display:flex;
}
=======
.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 75px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

>>>>>>> 5b8ccc6ef4c7e5c38e2e707c58fb95462ec753b1
