body{
   background-color: aliceblue; 
   padding-top:20px;
}
.main-container{
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color:white;
    width:409px;
    margin:auto;
    padding-top:20px;
    
 }
.input-text{
    display:flex;
}
.dropwon-selecter{
    display:flex;
}
.time-add{
    display:flex;
}
