body{
   background-color: aliceblue; 
   padding-top:20px;
}
.main-container{
    justify-content: center;
    align-items: center;
    height: 110px;
    background-color:white;
    width:600px;
    margin:auto;
    padding-top:15px;
 }

.input-container {
  display: flex;
  margin:auto;
  padding-top:2px;
  
  
}

.input-wrapper {
  display: flex;
  margin:auto;
  padding-top:5px;
}

.select-container {
  display: flex;
  margin:auto;
  padding-top:5px;
}

.time-input-container {
  display: flex;
  margin:auto;
  padding-top:5px;
}
.add_button{
    display: flex;
    margin-top:5px;
    margin-left:40px;
}
.task-table {
  padding-top:10px;
}



